.name{
    margin-top: 100px;
    width: 500px;
    background-color: #ecf0f0;
    border: 1px solid;
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 30px;
}
.name1{
    margin-top: 10px;
    width: 500px;
    background-color: #ecf0f0;
    border: 1px solid;
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 30px;
}
.details{margin-left: 50px;
    padding-left: 25px;
    width: 600px;
    height: 600px;
}
#image{
    border-radius: 10px;
    position: relative;
    top: -90%;
    left: 112%;
}
#download{
    margin-top: 20px;
    margin-left: 5px;
    cursor:pointer;
    border: none;
    background-color: rgb(90, 235, 90);
    color: white;
    border-radius: 20px;
    width: 500px;
    height: 60px;
    font-size: 30px;
    transition: 0.6s;
}
#download:hover{
    letter-spacing: 5px;
}
h1{
    color: red ;
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
}
#trailer{
    height: 400px;
    width: 650px;
    margin-left: 350px;
}